html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

header {
  background:linear-gradient(#0093A6,#004A53);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 20em;
}

body {
  background-color: #f1f1f1;
  font-family: Roboto, sans-serif;
  padding-left: 1.53em;
  }

h1 {
  color: #fff;
  text-align: center;
}

.masthead {
  max-width: 20em;
}

.navigation {
  color: #fff;
  text-align: center;
}

.nav a {
  display: inline-block;
  padding: .5rem .75rem;
  color: #fff;
  text-decoration: none;
}

.nav {
  position: relative;
  color: #fff;

}

.nav a:hover {
  color: #fff;
  border-radius: .10rem;
  border-width: medium;
  box-shadow: 1px 1px 3px #000;
  transform: scale(.9);
  transition: all 400ms linear;
  border: 0;
}

.nav a:focus {
  outline: 3px solid #fff;
}

.btn {
  background:linear-gradient(#0093A6,#004A53);
  border-color: #027884;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  padding: 10px;
  text-align: center;
}

.btn:hover {
  background:linear-gradient(#0093A6,#004A53);
  transform: scale(.9);
  border-color: #027884;
  transition: all 400ms linear;
  text-align: center;
}
.btn-grey {
  background-color: #E3E3E3;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
  color: #9E9E9E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.btn-grey:hover {
  background:linear-gradient(#0093A6,#004A53);
  color: #fff;
  transform: scale(.9);
  transition: all 300ms linear;
  text-align: center;
}

.btn-blue {
  background:linear-gradient(#0093A6,#004A53);
  border-radius: 3px;
  padding: 10px;
  padding-left: 22px;
  padding-right: 22px;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font: Roboto, sans-serif;
  text-align: center;
}

.btn-blue:hover {
  background: #E3E3E3;
  color: #9E9E9E;
  transform: scale(.9);
  transition: all 400ms linear;
  text-align: center;
}

.cssCircle {
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;

  width: 50px;
  height: 50px;
  padding: 0px;

  background:linear-gradient(#0093A6,#004A53);
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  font: 30px Roboto, sans-serif
}

.cssCircle:hover {
  cursor: pointer;
  transform: scale(.9);
  transition: all 400ms linear;
}

.plusSign {
  line-height: 1.8em;
}

#animated_stroke {
  stroke-dasharray: 746px;
  stroke-dashoffset: 746px;
  animation: animated_stroke 1s linear forwards;
}

@keyframes animated_stroke {

  0% {
  stroke-dashoffset: 746px;
  }

  100% {
  stroke-dashoffset: 0px;
  }

}

.circle_shadow {
  filter: drop-shadow( 1px 3px 2px rgba(0, 0, 0, 0.5));
}


.circle {
  animation: wiggle 1s linear infinite;
}

.bar{
    animation: wiggle 1s linear infinite;
}

@keyframes wiggle {

  0% {
    transform: translateX(0em);

  }

  40% {
    transform: translateX(-4em);
  }

  80% {
    transform: translateX(4em);
  }

  100% {
    transform: translateX(0em);
  }

}

.hours {
  color: #00BCD4;
  font: 100px Roboto, sans-serif
}

@media only screen and (min-width: 60em) {

  .recent-graph {
    display: block;

  }

  .focused-large-screen {
    display: inline-block;
  }

}
