.task-card {
  background-color: #FFFFFF;
  border-radius: 10px;
}

.checkbox {
  width: 14px;
  height: 14px;
  opacity: 100;
}

.card-a {
  color: #000;
}

.card-a:hover {
  text-decoration: none;
  color: #A6A2A0;
}

.event-card {
  background-color: #009FAF;
  color: #fff;
}
