.task-card {
  background-color: #FFFFFF;
  border-radius: 10px;
  max-width: 20em;
  max-height: 4em;
  color: #000;
}

#checkbox {
  width: 22px;
  height: 22px;
  opacity: 100;
}

.task-name {
  padding-right: 2em;
}

.task-card:hover {
  text-decoration: none;
  color: #027884;
}

.event-card {
  background-color: #009FAF;
  color: #fff;
  border-radius: 10px;
  max-width: 20em;
  max-height: 4em;
}

.event-card:hover {
  text-decoration: none;
  color: #f1f1f1;
}

@media only screen and (min-width: 25em) {

  .card-content {

  }

}
