.task-card {
  background-color: #FFFFFF;
  max-width: 20em;
  max-height: 4em;
  color: #000;
}

[type="checkbox"] + label, [type="radio"] + label, .label-inline {
  display: block;
}

[type="checkbox"] + label::before {
  border-radius: 10px;
  float: right;
  margin-top: 1em;
}

.task-name {
  padding-right: 2em;
}

.task-card:hover {
  text-decoration: none;
  color: #027884;
}

.event-card {
  background-color: #009FAF;
  color: #fff;
  max-width: 20em;
  max-height: 4em;
}

.event-card:hover {
  text-decoration: none;
  color: #f1f1f1;
}

@media only screen and (min-width: 25em) {

  .card-content {

  }

}
